{% extends 'base.html' %}
{% load static %}

{% block title %}Free Online Random Password Generator{% endblock %}

{% block description %}A strong password is a sign of strong privacy. Generate your strong password with a password generator. It generates your password within a few seconds it is easy to use.{% endblock %}
{% block keywords %}random password generator,strong password generator free,free online random password generator,best online random password generator,random generator{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block ogtitle %}Free Online Random Password Generator{% endblock %}
{% block ogdescription %}A strong password is a sign of strong privacy. Generate your strong password with a password generator. It generates your password within a few seconds it is easy to use.{% endblock %}
{% block ogurl %}https://25services.com/password-generator/{% endblock %}
{% block ogimage %}https://25services.com{% static 'images/ServiceImages/17_password_generator.jpg' %}{% endblock %}

{% block twittertitle %}Free Online Random Password Generator{% endblock %}
{% block twitterdescription %}A strong password is a sign of strong privacy. Generate your strong password with a password generator. It generates your password within a few seconds it is easy to use.{% endblock %}
{% block twitterimage %}https://25services.com{% static 'images/ServiceImages/17_password_generator.jpg' %}{% endblock %}

{% block pageurl %}https://25services.com/password-generator/{% endblock %}

{% block externalFiles %}
    <link rel="stylesheet" href="{% static '17_password_generator/css/password_generator.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap'>
{% endblock %}

{% block stylesheet %}

    <style>
    body{
        background-color: cadetblue;
    }

    footer{
        display: none !important;
    }
    </style>
{% endblock %}

{% block content %}


<!-- partial:index.partial.html -->

<div class="container" style="margin-top: 100px !important;">
	<h2 class="title">Password Generator</h2>
	<div class="result">
		<div class="result__title field-title">Generated Password</div>
		<div class="result__info right">click to copy</div>
		<div class="result__info left">copied</div>
		<div class="result__viewbox" id="result">CLICK GENERATE</div>
		<button id="copy-btn" style="--x: 0; --y: 0"><i class="far fa-copy"></i></button>
	</div>
	<div class="length range__slider" data-min="4" data-max="32">
		<div class="length__title field-title" data-length='0'>length:</div>
		<input id="slider" type="range" min="4" max="32" value="16" />
	</div>

	<div class="settings">
		<span class="settings__title field-title">settings</span>
		<div class="setting">
			<input type="checkbox" id="uppercase" checked />
			<label for="uppercase">Include Uppercase (ABC)</label>
		</div>
		<div class="setting">
			<input type="checkbox" id="lowercase" checked />
			<label for="lowercase">Include Lowercase (abc)</label>
		</div>
		<div class="setting">
			<input type="checkbox" id="number" checked />
			<label for="number">Include Numbers (123)</label>
		</div>
		<div class="setting">
			<input type="checkbox" id="symbol" />
			<label for="symbol">Include Symbols (!@#$%)</label>
		</div>
	</div>

	<button class="btn generate" id="generate">Generate Password</button>
<br><br>
</div>



<!-- partial -->
  <script  src="{% static '17_password_generator/javascript/password_generator.js' %}"></script>

{% endblock %}
