{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block description %}"25Services" is a free services website that provides different educational services to every age of people. We hope you will avail from "25Services".{% endblock %}
{% block keywords %}25services about us,about us 25services,about us{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block ogtitle %}About Us{% endblock %}
{% block ogdescription %}"25Services" is a free services website that provides different educational services to every age of people. We hope you will avail from "25Services".{% endblock %}
{% block ogurl %}https://25services.com/about-us/{% endblock %}
{% block ogimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block twittertitle %}About Us{% endblock %}
{% block twitterdescription %}"25Services" is a free services website that provides different educational services to every age of people. We hope you will avail from "25Services".{% endblock %}
{% block twitterimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block pageurl %}https://25services.com/about-us/{% endblock %}


{% block content %}
<br><br><br><br>
  <div class="jumbotron container">
    <h1>About Us</h1>

  <p>
      "25Services" is a free services website that provides different educational services to
      every age of people. We hope you will avail from "25Services". Thank you for your kind support!
  </p>
</div>
{% endblock %}
