{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block description %}If you wish to contact us regarding any questions or comments or suggestions you may have, please feel free to send an email at 25Servicesofficial@gmail.com{% endblock %}
{% block keywords %}25services contact us,contact us 25services,contact email 25services{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block ogtitle %}Contact Us{% endblock %}
{% block ogdescription %}If you wish to contact us regarding any questions or comments or suggestions you may have, please feel free to send an email at 25Servicesofficial@gmail.com{% endblock %}
{% block ogurl %}https://25services.com/contact-us/{% endblock %}
{% block ogimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block twittertitle %}Contact Us{% endblock %}
{% block twitterdescription %}If you wish to contact us regarding any questions or comments or suggestions you may have, please feel free to send an email at 25Servicesofficial@gmail.com{% endblock %}
{% block twitterimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block pageurl %}https://25services.com/contact-us/{% endblock %}


{% block content %}
<br><br><br><br>
  <div class="jumbotron container">
    <h1>Contact Us</h1>

  <p>If you wish to contact us regarding any questions or comments or suggestions you may have, please feel free to send an email at <a href="mailto:25Servicesofficial@gmail.com">25Servicesofficial@gmail.com</a>.
  </p>
</div>
{% endblock %}
