{% extends 'base.html' %}
{% load static %}
{% block title %}Free Online Services Website - 25services{% endblock %}

{% block description %}25Services is a free services website that provides different educational services to every age of people. We hope you will avail from 25Services.{% endblock %}
{% block keywords %}25services,free services website,online free services website,best services website{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block ogtitle %}Free Online Services Website{% endblock %}
{% block ogdescription %}25Services is a free services website that provides different educational services to every age of people. We hope you will avail from 25Services.{% endblock %}
{% block ogurl %}https://25services.com{% endblock %}
{% block ogimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block twittertitle %}Free Online Services Website{% endblock %}
{% block twitterdescription %}25Services is a free services website that provides different educational services to every age of people. We hope you will avail from 25Services.{% endblock %}
{% block twitterimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block pageurl %}https://25services.com{% endblock %}


{% block stylesheet %}
   <style>
        .HeaderSection{
            display: flex;
            height: 80vh;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
            margin:0px;
            background-image: url("../static/images/header_bg.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            }

        .SearhBarAndTitleDiv{
          width: 100%;

        }

        .SearhBarAndTitleDiv h2{
          color: white;
          font-size: 38px;
          text-shadow: 1px 1px 2px rgba(148, 150, 150, 0.55);
          margin-bottom: 20px;

        }

        .SearhBarAndTitleDiv input{
          width: 60%;
          height: 50px;
          border-radius:10px;
          font-size: 25px;
          padding:5px;
          outline: none;
          border:1px solid gainsboro;


           }
        .searchbutton1{

          width: 15%;
          height: 50px;
          border-radius:10px;
          font-size: 25px;
          padding:5px;
          outline: none;
          border:1px solid gainsboro;
          background-color: #4CA39B;
          color: white;
          border-style: none;
          margin-left: 1%;


        }
        .SearhBarAndTitleDiv input:focus{
          color: #4CA39B;
          border: 1px solid #4CA39B;
        }

        .searchbutton1:hover{
          opacity: 0.8;
        }


      /*Footer end*/



        /* Targeting mobile screens */
        @media only screen and (max-width: 480px){

          .SearhBarAndTitleDiv{
            text-align: center !important;
          }

          .SearhBarAndTitleDiv h2{
            color: white;
            font-size: 30px;
            text-shadow: 1px 1px 2px rgba(148, 150, 150, 0.55);
            margin-bottom: 10px;
            width: 80%;
            margin-left: 10%;

        }


          .SearhBarAndTitleDiv input{
            width: 80%;
          height: 55px;
          border-radius: 7px;
          font-size: 23px;
          padding: 0px !important;
          text-align: center;


        }

        .searchbutton1{

          margin-top: 25px !important;
          width: 80%;
          height: 55px;
          border-radius: 7px;
          font-size: 23px;
          padding: 0px !important;

          }

        }


   .wrapper-fostrap {
          display: table;
          height: 100%;
          width: 100%;
        }

        .container-fostrap {
          display: table-cell;
          padding: 1em;
          text-align: center;
          vertical-align: middle;
        }


        @media only screen and (max-width: 480px) {


         .card-title{
             font-size: 22px !important;
         }
        }

        .card {
            overflow: hidden;
          display: block;
            margin-bottom: 20px;
            line-height: 1.42857143;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            transition: box-shadow .25s;
        }
        .card:hover {
          box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        }
        .img-card {
          width: 100%;
          height:200px;
          border-top-left-radius:2px;
          border-top-right-radius:2px;
          display:block;
            overflow: hidden;
        }
        .img-card img{
          width: 100%;
          height: 200px;
          object-fit:cover;
          transition: all .25s ease;
        }
        .card-content {
          padding:15px;
          text-align:left;
        }
        .card-title {
              margin-top:0px;
              font-weight: 400;
              font-size: 24px;
        }
        .card-title a {
          color: #000;
          text-decoration: none !important;
        }
        .card-read-more {
          border-top: 1px solid #D4D4D4;
        }
        .card-read-more a {
          text-decoration: none !important;
          padding:10px;
          font-weight:600;
          text-transform: uppercase;
            color: indigo;
        }


    </style>
{% endblock %}

{% block content %}

    <!-- Header section start -->
    <section class="HeaderSection">
        <div class="SearhBarAndTitleDiv">
            <h2>Use high quality digital services for free</h2>
        </div>
    </section>



    <section class="wrapper-fostrap" >
    <div class="container-fostrap">
        <div>
            <h1 class="heading">Our Services</h1><br>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">


                    <!--Card start-->
                      <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="{% url 'AgeCalculator' %}">
                                <img src="{% static 'images/ServiceImages/11_Age_calculator.JPG' %}" alt="Age Calculator" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="{% url 'AgeCalculator' %}">
                                           Age Calculator
                                      </a>
                                    </h4>
                                    <p class="">Find Your Age
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="{% url 'AgeCalculator' %}" class="btn btn-link btn-block">Use Services</a>
                                </div>
                            </div>
                        </div>
                       <!--Card end-->




                    <!--Card start-->
                      <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="{% url 'CVMaker' %}">
                                <img src="{% static 'images/ServiceImages/1_cv_maker.png' %}" alt="CV Maker" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="{% url 'CVMaker' %}">
                                           CV Maker
                                      </a>
                                    </h4>
                                    <p class="">Build Your Awesome CV
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="{% url 'CVMaker' %}" class="btn btn-link btn-block">Use Services</a>
                                </div>
                            </div>
                        </div>
                       <!--Card end-->




                    <!--Card start-->
                      <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="{% url 'TextToSpeech' %}">
                                <img src="{% static 'images/ServiceImages/2_text_to_speech.jpg' %}" alt="Text to Speech" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="{% url 'TextToSpeech' %}">
                                           Text to Speech
                                      </a>
                                    </h4>
                                    <p class="">Strong Your Pronunciation
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="{% url 'TextToSpeech' %}" class="btn btn-link btn-block">Use Services</a>
                                </div>
                            </div>
                        </div>
                       <!--Card end-->





                    <!--Card start-->
                      <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="{% url 'OnlineSignature' %}">
                                <img src="{% static 'images/ServiceImages/5_online_signature.jpg' %}" alt="Online Signature" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="{% url 'OnlineSignature' %}">
                                           Online Signature
                                      </a>
                                    </h4>
                                    <p class="">Make Your Electronic Signature
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="{% url 'OnlineSignature' %}" class="btn btn-link btn-block">Use Services</a>
                                </div>
                            </div>
                        </div>
                       <!--Card end-->




                    <!--Card start-->
                      <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="{% url 'RandomQuotesGen' %}">
                                <img src="{% static 'images/ServiceImages/16_random_quotes_generator.jpg' %}" alt="Random Quotes Generator" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="{% url 'RandomQuotesGen' %}">
                                           Random Quotes Generator
                                      </a>
                                    </h4>
                                    <p class="">Find Your Favourite Quote
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="{% url 'RandomQuotesGen' %}" class="btn btn-link btn-block">Use Services</a>
                                </div>
                            </div>
                        </div>
                       <!--Card end-->





                    <!--Card start-->
                      <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="{% url 'IpLocator' %}">
                                <img src="{% static 'images/ServiceImages/10_my_ip_locator.png' %}" alt="Ip Locator" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="{% url 'IpLocator' %}">
                                           Ip Locator
                                      </a>
                                    </h4>
                                    <p class="">Find Your IP Address
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="{% url 'IpLocator' %}" class="btn btn-link btn-block">Use Services</a>
                                </div>
                            </div>
                        </div>
                       <!--Card end-->





                    <!--Card start-->
                      <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="{% url 'QRcodeGen' %}">
                                <img src="{% static 'images/ServiceImages/20_qr_code_generator.jpg' %}" alt="QR Code Generator" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="{% url 'QRcodeGen' %}">
                                           QR Code Generator
                                      </a>
                                    </h4>
                                    <p class="">Generate Your QR Codes
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="{% url 'QRcodeGen' %}" class="btn btn-link btn-block">Use Services</a>
                                </div>
                            </div>
                        </div>
                       <!--Card end-->




                    <!--Card start-->
                      <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="{% url 'ColorPicker' %}">
                                <img src="{% static 'images/ServiceImages/13_color_picker.png' %}" alt="Color Picker" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="{% url 'ColorPicker' %}">
                                           Color Picker
                                      </a>
                                    </h4>
                                    <p class="">Pick Your Desire Color
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="{% url 'ColorPicker' %}" class="btn btn-link btn-block">Use Services</a>
                                </div>
                            </div>
                        </div>
                       <!--Card end-->



                    <!--Card start-->
                      <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="{% url 'CaseConverter' %}">
                                <img src="{% static 'images/ServiceImages/18_case_converter.jpg' %}" alt="Case Converterr" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="{% url 'CaseConverter' %}">
                                           Case Converter
                                      </a>
                                    </h4>
                                    <p class="">Convert Letter Cases
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="{% url 'CaseConverter' %}" class="btn btn-link btn-block">Use Services</a>
                                </div>
                            </div>
                        </div>
                       <!--Card end-->
                    <br>

                </div>

                <p style="text-align: center;">
                      <a href="{% url 'AllServices' %}" style="font-size: 28px; text-decoration: none;">Explore More</a>
                   </p>
            </div>
        </div>
    </div>
</section>






{% endblock %}
