{% extends 'base.html' %}
{% load static %}
{% block title %}Privacy Policy - 25Services{% endblock %}

{% block description %}The Privacy Policy of 25Services.com is very clear. We do not store any kind of information about the user. You can use any of our services without any worry.{% endblock %}
{% block keywords %}25services privacy policy,privacy policy 25services,25services.com privacy policy{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block ogtitle %}Privacy Policy{% endblock %}
{% block ogdescription %}The Privacy Policy of 25Services.com is very clear. We do not store any kind of information about the user. You can use any of our services without any worry.{% endblock %}
{% block ogurl %}https://25services.com/privacy-policy/{% endblock %}
{% block ogimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block twittertitle %}Privacy Policy{% endblock %}
{% block twitterdescription %}The Privacy Policy of 25Services.com is very clear. We do not store any kind of information about the user. You can use any of our services without any worry.{% endblock %}
{% block twitterimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block pageurl %}https://25services.com/privacy-policy/{% endblock %}


{% block stylesheet %}
    <style>
    body{
        background-color: cadetblue;
    }
    </style>
{% endblock %}
{% block content %}
    <br><br><br><br>
  <div class="jumbotron container">
    <h1>Privacy Policy</h1>
  <h5>  Welcome to <a href="http://25Services.com" >"25Services"</a> Privacy Policy!</h5>

   <h2> 1) Your Data Privacy</h2>
   <p> We<b> don't</b> store any user data.you can avail from our all services without creating any account.</p>

    <h2>  2) Contact us</h2>
    <p>If you wish to contact us regarding any questions or comments you may have, please send an email at <a href="mailto:25Servicesofficial@gmail.com">25Servicesofficial@gmail.com</a>.


  </p>
</div>
{% endblock %}
