{% extends 'base.html' %}
{% load static %}
{% block title %}Terms & Conditions - 25Services{% endblock %}

{% block description %}Read the Terms Conditions carefully. By accessing and using the 25Services, you agree that you have read, understood, and accepted the Terms Conditions.{% endblock %}
{% block keywords %}25services terms & conditions,terms & conditions 25services,25services.com terms & conditions{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block ogtitle %}Terms & Conditions{% endblock %}
{% block ogdescription %}Read the Terms Conditions carefully. By accessing and using the 25Services, you agree that you have read, understood, and accepted the Terms Conditions.{% endblock %}
{% block ogurl %}https://25services.com/terms-conditions/{% endblock %}
{% block ogimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block twittertitle %}Terms & Conditions{% endblock %}
{% block twitterdescription %}Read the Terms Conditions carefully. By accessing and using the 25Services, you agree that you have read, understood, and accepted the Terms Conditions.{% endblock %}
{% block twitterimage %}https://25services.com{% static 'images/logo.png' %}{% endblock %}

{% block pageurl %}https://25services.com/terms-conditions/{% endblock %}


{% block stylesheet %}
    <style>
    body{
        background-color: cadetblue;
    }
    </style>
{% endblock %}
{% block content %}
    <br><br><br><br>
    <div class="container jumbotron">

  <h1>Terms & Conditions</h1>

  <h2>  Welcome to <a href="http://25Services.com" >"25Services"</a> Terms & Conditions!</h2>
   <p>Please read these Terms carefully. By accessing and using the 25Services, you agree that you have read, understood, and accepted the Terms, including any additional terms and conditions. If you do not agree or fall within the Terms, please do not use the 25Services.</p>

   <h2> 1) Our Aim</h2>
   <p> We bring all 25Services free for the welfare of the community. Any age of a person can use and avail from our services without any restriction. We want to give you the best services which make life easy for you. We hope you will like and support our services.</p>

   <h2> 2) Your Data Privacy</h2>
   <p> We<b> don't</b> store any user data.we provide all services without creating an account. we don't have an option for creating an account. we encourage all of you to use our services without any fear.</p>

    <h2> 3) Disclaimer</h2>
    <p> <b> 3.1)</b><b>"Future Indicator"</b>and<b> "Suitable Job For You"</b> services are just only for fun purposes<b> we don't claim and promise</b> with anybody (that your job will be like this in reality and your future will be like this in reality). We request all of you to use it only for fun purposes and don't keep any belief in it.
    <br>
    <b>  3.2)</b> The<b> "Names Generator"</b> service is only for educational purposes.
    <br>
    <b>  3.3)</b>The<b>"Periodic Table," "Age Calculator," "Every Year Calendar,"</b> and <b>Scientific Calculator"</b> services are only for educational purposes.
    <br>
    <b>  3.4)</b>The <b>"ASCII To Binary"</b> and <b>"Decimal To Binary"</b> services are only for educational purposes.
    <br>
    <b>  3.5)</b>The <b>"Color Picker" </b>and <b>"Cv Maker" </b>services are only for educational purposes.
    <br>
    <b> 3.6)</b> The<b>"Online Signature"</b> and<b> "Drawing" </b>services are only for educational purposes.
    <br>
    <b>  3.7) </b> The <b>"Internet Speed Checker" </b>and<b> "Word Counter" </b>services are only for educational purposes.
    <br>
    <b>  3.8) </b>The<b>"Units Converter"</b> service is only for educational purposes.
    <br>
    <b>  3.9) </b>The<b>"Triangle Area Finder"</b> service is only for educational purposes.
    <br>
    <b>   3.10) </b>The <b>"Text To Speech"</b> service is only for educational purposes.
    <br>
    <b>  3.11)</b>The <b>" My IP Locator" </b> service is only for educational purposes.
    <br>
    <b>  3.12)</b>The <b>"Text To PDF", "Case Converter", "Car Painter", "QR Code Generator", "Random Quotes Generator"  </b> and <b>"Password Generator"</b> services are only for educational purposes.</p>
    <br>
    <h2>  4) Contact us</h2>
    <p>If you wish to contact us regarding any questions or comments you may have, please send an email at <a href="mailto:25Servicesofficial@gmail.com">25Servicesofficial@gmail.com</a>.


  </p>
    </div>
    <br>
{% endblock %}
